#!/bin/bash

export BCP_CONF_PATH="%[%[inst]%appPath]%/conf"
export BCP_INFRA_PATH="%[%[inst]%appPath]%/infra"
export applicationName="%[%[inst]%applicationName]%"
export openshiftApiUrl="%[%[inst]%openshiftApiUrl]%"
export namespace="%[%[inst]%namespace]%"
