#!/bin/bash

export CD_BCP_CONF_PATH="%[cd.%[inst]%gitlibAppPath]%/conf"
export CD_BCP_INFRA_PATH="%[cd.%[inst]%gitlibAppPath]%/infra"

export applicationName="%[cd.%[inst]%applicationName]%"
export openshiftApiUrl="%[cd.%[inst]%openshiftApiUrl]%"
export namespace="%[cd.%[inst]%namespace]%"
