#!/bin/bash

export CI_CONF_PATH="%[%[inst]%appPath]%/conf"
export IMAGE_TYPE="%[%[inst]%image.type]%"
export openshiftApiUrl="%[%[inst]%openshiftApiUrl]%"
export namespace="%[%[inst]%namespace]%"
#export NUGET_PACKAGE_READ="https://nexus.example.com/nexus/service/local/nuget/example-nuget-read/"
export SONAR_HOST_URL="http://lenovo:9000/"
export DOTNET_SONARSCANNER_VERIONS=6.2.0
export sonar_project_key="%[%[inst]%sonarProjectKey]%"
export image_name="%[%[inst]%image.name]%"
