--tag %[ci.%[inst]%image.name]%:%[ci.%[inst]%image.tag]%
--build-arg BASE_IMAGE_NAME=%[ci.%[inst]%baseImage.name]%
--build-arg BASE_IMAGE_TAG=%[ci.%[inst]%baseImage.tag]%
--build-arg PRISMA_EMAIL=%[ci.%[inst]%prismaEmail]%
%%[START:[inst]ci.args]%%
--build-arg "%[NAME]%=%[VALUE]%"
%%[END]%%
